@import "../node_modules/bootstrap/scss/bootstrap";

// Chat component
$activeUsersHeight: 100vh;
$sendMessageDisplayHeight: 3vh;
$chatDisplayHeight: 100vh - $sendMessageDisplayHeight;
#active-users{
  height: $activeUsersHeight;
}
#chat-display{
  height: $chatDisplayHeight;
}
#send-message{
  height: $sendMessageDisplayHeight;
}
#displayMessages{
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

//loader
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
